@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Instrument Sans", sans-serif;
}
/* Custom range slider */
.slider-custom {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    #a20ba2 var(--value, 0%),
    #fbd0fb var(--value, 0%)
  );
  outline: none;
}

/* For Chrome / Safari */
.slider-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #a20ba2; /* purple thumb */
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* For Firefox */
.slider-custom::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #a20ba2;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
